body{
    font-family: 'Nunito', sans-serif;
    
}
header{
    background-color: #F5E9B9;
    display: flex;
    padding-left: 20px;
}
.ubicacion{
    width: 50%;
    margin: auto;
    display: flex;


}
h1{
    color: #97591C;
    font-size: 50px;

}
h2{
    color: #EFC76F;
    font-size: 50px;
}
p{
    font-size: 30px;
}
.logo{
    width: 80px;
    height: 80px;
    padding: 20px;
    align-items: center;
}
.logo{
    width: 80px;
    height: 80px;
    padding: 30px;
    justify-content: right;
}
.menuu{
    padding: 50px;
    text-align: center;
}
.menu ul li{
    display: inline-block;
    
}
.menu ul li a{
    text-decoration: none;
    color: black;
    padding: 0 50px;
    text-align: center;
}

.href:hover{
    color: white;
}

.botones{
    background-color: #EFC76F;
    border-radius: 5px;
    text-align: center;
    border-color: transparent;
}

.redes{
    width: 30px;
    height: 30px;
    padding: 20px;
    background-color: transparent;
    border-color: transparent;
    text-align: justify;
}
.redes1{
    background-color: transparent;
    border-color: transparent;
    display: flex;
    width: 50px;
}
.text{
    color: black;
}

.foto{
    width: 50%;
    height: auto;
    text-align: center;
}
.cuadricula{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr ;
    grid-template-rows: 190px;
    gap: 1em;
    list-style: none;
}
.images{
    width: 190px;
    height: 190px;
    border-radius: 50px;
    background-repeat: no-repeat;
}
footer{
    background-color: #EFC76F;
    padding: 20px;
    text-align: center;
}
