body{
    font-family: 'Nunito', sans-serif;
    /* background-color: #3bb2b8; */
        /* background: linear-gradient(
          25deg,
          rgb(18, 113, 172),
          rgb(99, 175, 164),
          rgb(0, 43, 85)
        ); */
        background-repeat: no-repeat;
        height: 100%;
        font-family: "Open Sans", sans-serif;
        font-size: 20px;
    
}
header{
    background-color: #F5E9B9;
    display: flex;
    padding-left: 20px;
}
h1{
    text-align: center;
}
h2{
font-size: 200%;
}


.logo{
    width: 80px;
    height: 80px;
    padding: 20px;
}
.menuu{
    padding: 50px;
    text-align: center;
}
.menu ul li{
    display: inline-block;
    
}
.menu ul li a{
    text-decoration: none;
    color: black;
    padding: 0 50px;
    text-align: center;
}

.href:hover{
    color: white;
}

.botones{
    background-color: #F5E9B9;
    border-radius: 5px;
    text-align: center;
    border-color: transparent;
}

.redes{
    width: 30px;
    height: 30px;
    padding: 20px;
    background-color: transparent;
    border-color: transparent;
    
}
.ceja{
    width: 50%;
    height: auto;
}
.cuadricula{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 190px;
    gap: 1em;
    list-style: none;
}
.images{
    width: 190px;
    height: 190px;
    border-radius: 20px;
    background-repeat: no-repeat;
}
.lugar{
    width: 20%;
    height: auto;
}
footer{
    background-color: #F5E9B9;
    padding: 20px;
    text-align: center;
}
